*{
	font-family: "century gothic";
}
h1,h2{
	text-align: center;
	border-radius: 5px;
	padding: 2px;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 5px solid ;
	max-width: 600px;
	border-radius: 20px;
}
.m1{
	display: block;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
}
.m1 > ul{
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
div > p {
	padding: 20px;
}
.footer{
	text-align: center;
	padding-top: 30px;
}